@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', system-ui, sans-serif;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
}
